<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/home-shop-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Jan 2023 20:36:57 GMT -->
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>nnoolmart</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.ico">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- theme core css -->
    <link href="css/styles-2.css" rel="stylesheet">
    
      <!-- theme core css -->
    <link rel="stylesheet" href="admin/css/styles.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="fixed header-light-nav header-02">

            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-md-6">
                            <div class="top-bar-info">
                                <!-- <ul class="ps-0">
                                    <li><a href="tel:01234567890"><i class="ti-mobile"></i><span class="d-none d-md-inline-block ps-2">(+123) 456 7890</span></a></li>
                                    <li><a href="mailto:addyour@emailhere"><i class="ti-email"></i><span class="d-none d-md-inline-block ps-2">addyour@emailhere</span></a></li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="col-9 col-md-6">
                            <ul class="top-nav ps-0">
                                <% if(user){ %> 
                                <li class="nav-item dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="dropdown-toggle"><i class="far fa-user"></i></a>
                                    <ul class="dropdown-menu p-4">
                                        <li class="mb-2">
                                            <div class="media align-items-center">
                                                <img class="w-40px rounded-circle me-3" src="/img/<%= user.imageUrl[0]  %>" alt="Profile">
                                                <h6 class="media-body"><%= user.username %> </h6>
                                            </div>

                                        </li>
                                        <li>
                                            <a href="/profile" class="dropdown-item">My Profile</a>
                                        </li>
                                        <li>
                                            <a href="/orders" class="dropdown-item">Order List</a>
                                        </li>
                                        <li>
                                            <a href="/logout" class="dropdown-item">Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                                <% }else { %> 
                                    <a href="/login"  class="nav-item">Login/Join our family</a>
                                <% } %> 
                                <!-- <li><a href="#"><i class="far fa-heart"></i></a></li> -->
                                <!-- <li>
                                    <select>
                                        <option>English</option>
                                        <option>Deutsch</option>
                                        <option>Italiano</option>
                                    </select>
                                </li>
                                <li>
                                    <select>
                                        <option>$ USD</option>
                                        <option>€ EUR</option>
                                        <option>£ UKP</option>
                                        <option>¥ JPY</option>
                                    </select>
                                </li> -->
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default" style="background-color: var(--bs-body-bg);">

                <!-- top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid">
                        <form class="search-form" action="#" method="GET">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                                        <a href="/" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo-08.jpeg"  alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="/">Home</a>
                                            <!-- <ul>
                                                <li><a href="home-shop-1.html">Home 01</a></li>
                                                <li><a href="home-shop-2.html">Home 02</a></li>
                                                <li><a href="home-shop-3.html">Home 03</a></li>
                                                <li><a href="home-shop-4.html">Home 04</a></li>
                                                <li><a href="admin/index.html" target="_blank">Admin Dashboard</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="/products">Shop</a>
                                            <!-- <ul>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="contact-us.html">Contacts</a></li>
                                                <li><a href="help-faq.html">Help / FAQ</a></li>
                                                <li><a href="product-comparison.html">Product Comparison</a></li>
                                                <li><a href="order-tracking.html">Order Tracking</a></li>
                                                <li><a href="order-tracking-detail.html">Order Tracking Detail</a></li>
                                                <li><a href="search-results.html">Search Results</a></li>
                                                <li><a href="404-page.html">404 Not Found</a></li>
                                                <li><a href="comingsoon.html">Coming Soon</a></li>
                                                <li><a href="newsletter.html">Newsletter</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="#">Category</a>
                                            <ul>
                                                <li><a href="/categoryproducts?category=Tops">Tops</a></li>
                                                <li><a href="/categoryproducts?category=Bottom">Bottom</a></li>
                                                <li><a href="/categoryproducts?category=Jackets">Jackets</a></li>
                                                <li><a href="/categoryproducts?category=Shirts">Shirts</a></li>
                                                <li><a href="/categoryproducts?category=Summer wear">Summer wear</a></li>
                                                
                                                <!-- <li><a href="account-address.html">Contact / Shipping Address</a></li>
                                                <li><a href="account-tickets.html">My Tickets</a></li>
                                                <li><a href="account-single-ticket.html">Single Ticket</a></li> -->
                                            </ul>
                                        </li>
                                        <li><a href="#">About</a>
                                            <!-- <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories 01</span>
                                                    <ul>
                                                        <li><a href="#">Internal SSD</a></li>
                                                        <li><a href="#">Memory Cards</a></li>
                                                        <li><a href="#">Home Theatres</a></li>
                                                        <li><a href="#">Unique Routers</a></li>
                                                        <li><a href="#">Security cameras</a></li>
                                                        <li><a href="#">Effective Laptops</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories 02</span>
                                                    <ul>
                                                        <li><a href="#">Winterwear</a></li>
                                                        <li><a href="#">Sportswear</a></li>
                                                        <li><a href="#">Innerwear</a></li>
                                                        <li><a href="#">Ethnic Wear</a></li>
                                                        <li><a href="#">Cotton Lounge Wear</a></li>
                                                        <li><a href="#">Essential Swimwear</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Categories 03</span>
                                                    <ul>
                                                        <li><a href="#">Computer Speakers</a></li>
                                                        <li><a href="#">Compact Headphones</a></li>
                                                        <li><a href="#">Best Choice Printers</a></li>
                                                        <li><a href="#">PC Gaming</a></li>
                                                        <li><a href="#">Power banks</a></li>
                                                        <li><a href="#">Musical Instruments</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12 d-none d-lg-block">
                                                    <span class="mb-lg-2 d-block py-2 py-lg-0 px-1-9 px-lg-0 text-uppercase sub-title">Current Offers</span>

                                                    <div class="offer-slider owl-carousel owl-theme">

                                                        <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-01.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Men's</h6>
                                                                <h4 class="font-weight-500"><a href="#">Up to 50% Off</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                                            </div>
                                                        </div>

                                                        <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-02.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Women's</h6>
                                                                <h4 class="font-weight-500"><a href="#" class="text-white">Up to 70% Off</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                                            </div>
                                                        </div>

                                                        <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-03.jpg);">
                                                            <div class="offer-text">
                                                                <h6 class="mb-1 text-white font-weight-500">Electronics</h6>
                                                                <h4 class="font-weight-500"><a href="#" class="text-white">Mega Sale</a></h4>
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                                <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </li>

                                            </ul> -->
                                        </li>
                                        <li><a href="#">Contact</a>
                                            <!-- <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog List Right Sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog List Left Sidebar</a></li>
                                                <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                            </ul> -->
                                        </li>
                                        <!-- <li><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="shop-categories.html">Shop Categories</a></li>
                                                <li><a href="shop-product-grid.html">Product Grid</a></li>
                                                <li><a href="shop-product-list.html">Product List</a></li>
                                                <li><a href="shop-product-full-three-coulmn.html">Product Three Coulmns</a></li>
                                                <li><a href="shop-product-full-four-coulmn.html">Product Four Coulmns</a></li>
                                                <li><a href="shop-product-detail.html">Product Detail</a></li>
                                                <li><a href="shop-cart.html">Shop Cart</a></li>
                                                <li><a href="shop-checkout-address.html">Shop Checkout</a>
                                                    <ul>
                                                        <li><a href="shop-checkout-address.html">Address</a></li>
                                                        <li><a href="shop-checkout-shipping.html">Shipping</a></li>
                                                        <li><a href="shop-checkout-payment.html">Payment</a></li>
                                                        <li><a href="shop-checkout-review.html">Review</a></li>
                                                        <li><a href="checkout-complete.html">Complete</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 01</span>
                                                    <ul>
                                                        <li><a href="accordions.html"><i class="fas fa-sliders-h me-2"></i>Accordions</a></li>
                                                        <li><a href="alerts.html"><i class="far fa-bell me-2"></i>Alerts</a></li>
                                                        <li><a href="blockquote.html"><i class="fas fa-vector-square me-2"></i>Blockquote</a></li>
                                                        <li><a href="buttons.html"><i class="fas fa-link me-2"></i>Buttons</a></li>
                                                        <li><a href="call-to-action.html"><i class="far fa-square me-2"></i>Call to Action</a></li>
                                                        <li><a href="carousel-slider.html"><i class="far fa-images me-2"></i>Carousel Slider</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 02</span>
                                                    <ul>
                                                        <li><a href="countdown.html"><i class="far fa-flag me-2"></i>Count Down</a></li>
                                                        <li><a href="counters.html"><i class="fas fa-compress me-2"></i>Counters</a></li>
                                                        <li><a href="dropcaps.html"><i class="far fa-closed-captioning me-2"></i>Dropcaps</a></li>
                                                        <li><a href="forms.html"><i class="fab fa-wpforms me-2"></i>Forms</a></li>
                                                        <li><a href="form-elements.html"><i class="fas fa-cubes me-2"></i>Form Elements</a></li>
                                                        <li><a href="font-icons.html"><i class="far fa-check-square me-2"></i>Font Icons</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 03</span>
                                                    <ul>
                                                        <li><a href="grid-system.html"><i class="fas fa-th me-2"></i>Grid System</a></li>
                                                        <li><a href="highlights.html"><i class="fas fa-highlighter me-2"></i>Highlights</a></li>
                                                        <li><a href="icon-with-text.html"><i class="fab fa-fonticons-fi me-2"></i>Icon With Text</a></li>
                                                        <li><a href="list-styles.html"><i class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i class="fas fa-photo-video me-2"></i>Media Object</a></li>
                                                        <li><a href="modal.html"><i class="fas fa-expand me-2"></i>Modal</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-600 display-30">Elements 04</span>
                                                    <ul>
                                                        <li><a href="pagination.html"><i class="far fa-caret-square-right me-2"></i>Pagination</a></li>
                                                        <li><a href="progress-bars.html"><i class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                        <li><a href="tables.html"><i class="fas fa-table me-2"></i>Tables</a></li>
                                                        <li><a href="tabs.html"><i class="fas fa-sliders-h me-2"></i>Tabs</a></li>
                                                        <li><a href="typography.html"><i class="fas fa-text-height me-2"></i>Typography</a></li>
                                                        <li><a href="responsive-videos.html"><i class="fas fa-video me-2"></i>Videos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                            <li  class="dropdown me-3 me-lg-0">
                                                <a href=" /cart" >
                                                    <!-- class="dropdown-toggle" data-bs-toggle="dropdown" -->
                                                    <i  class="ti-bag"></i>
                                                    <!-- <span class="badge bg-primary">3</span> -->
                                                </a>
                                                <!-- <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#" class="photo"><img src="img/products/cart-thumbs/cart-thumb-01.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Men's Football Boots </a></h6>
                                                        <p>2x - <span class="price">$30.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="img/products/cart-thumbs/cart-thumb-02.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Sun Protection Cap</a></h6>
                                                        <p>1x - <span class="price">$10.20</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="img/products/cart-thumbs/cart-thumb-03.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Heel Character Shoes</a></h6>
                                                        <p>2x - <span class="price">$39.00</span></p>
                                                    </li>
                                                    <li class="total bg-primary">
                                                        <span class="float-start"><strong>Total</strong>: $79.20</span>
                                                        <a href="/cart" class="butn-style2 small white float-end w-auto"><span>View Cart</span></a>
                                                    </li>
                                                </ul> -->
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>
   <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="img/bg/bg-8.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Order Invoice</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="home-shop-1.html">Home</a></li>
                        <li><a href="#">My Profile</a></li>
                    </ul>
                </div>

            </div>
        </section>
        

        
            
        

            <!-- PAGE INNER
            ================================================== -->
            <div class="page-inner" id="invoice">
               
             
                <!-- PAGE MAIN WRAPPER
                ================================================== -->
                <div id="main-wrapper">
                    
       
       
                    <!-- row -->
                    <div class="row g-xl-3">
                       
                        <div class="col-xl-12 grid-margin">
                            <div class="card card-white h-100">
                                <!-- <div class="card-heading clearfix">
                                    <h4 class="card-title">Addresses</h4>
                                </div> -->
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-lg-auto me-xl-5 pe-xl-5 mb-4 mb-xl-0">
                                            <h6 class="text-uppercase fw-bold mb-3">Order</h6>
                                            <ul class="list-unstyled ps-0">
                                                <li><strong>Order id:</strong> <%=orderDetails.id %></li>
                                                <li><strong>Order date:</strong> <%= orderDetails.updatedAt.toLocaleDateString() %></li>
                                                <li><strong>Payment Status:</strong> <%= orderDetails.paymentStatus %></li>
                                                <li><strong>Coupon discount:</strong> <%= orderDetails.couponDiscount %></li>
                                                <li><strong>Amount:</strong> <%= orderDetails.total %></li>
                                                <% if(orderDetails.useWallet > 0){ %>
                                                <li><strong>Via Wallet:</strong> <%= orderDetails.useWallet %></li>
                                                <% } %>
                                            </ul>
                                            <!-- <strong class="d-block">Email address:</strong>
                                            <a href="#">name@domain.com</a>
                                            <strong class="d-block mt-3">Phone:</strong>
                                            <a href="#">1234-5678</a> -->
                                        </div>


                                        <div class="col-lg-auto me-xl-5 pe-xl-5 mb-4 mb-xl-0">
                                            <h6 class="text-uppercase fw-bold mb-3">billing to</h6>
                                            <ul class="list-unstyled ps-0">
                                                <li><strong><%= orderDetails.address.firstName %></strong></li>
                                                <li><%= orderDetails.address.addressType %></li>
                                                <li><%= orderDetails.address.addressLine %> </li>
                                                <li><%= orderDetails.address.city %> </li>
                                                <li><%= orderDetails.address.state %>,<%= orderDetails.address.country %> </li>
                                                <li><%= orderDetails.address.pinCode %> </li>
                                            </ul>
                                            <strong class="d-block">Email address:</strong>
                                            <a href="#"><%=user.email %></a>
                                            <strong class="d-block mt-3">Phone:</strong>
                                            <a href="#"><%=user.phonenumber %></a>
                                        </div>
                                        <div class="col-lg-auto ps-xl-5">
                                            <h6 class="fw-bold text-uppercase mb-3">shipping to</h6>
                                            <ul class="list-unstyled ps-0">
                                                <li><strong><%= orderDetails.address.firstName %></strong></li>
                                                <li><%= orderDetails.address.addressType %></li>
                                                <li><%= orderDetails.address.addressLine %> </li>
                                                <li><%= orderDetails.address.city %> </li>
                                                <li><%= orderDetails.address.state %>,<%= orderDetails.address.country %> </li>
                                                <li><%= orderDetails.address.pinCode %> </li>
                                            </ul>
                                            <strong class="d-block">Email address:</strong>
                                            <a href="#"><%=user.email %></a>
                                            <strong class="d-block mt-3">Phone:</strong>
                                            <a href="#"><%=user.phonenumber %></a>
                                        </div>
                                        <div class="col-lg-auto ps-xl-5">
                                            <i>*keep this invoice <br> and manufacturer box <br> for warranty purposes</i>
                                        </div>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <!-- row -->
                    <div class="row g-xl-3">
                        <div class="col-lg-12 grid-margin">
                            <div class="card card-white h-100">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Products</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table mb-0 order-details-table">
                                            <thead class="bg-light">
                                               
                                                <tr>
                                                    <th class="ps-4 id">ProductID</th>
                                                    <th class="name">Title</th>
                                                    <th class="text-center qty">Qty</th>
                                                    <th class="text-center cost">Gross Amount ₹</th>
                                                    <th class="text-center total">Total</th>
                                                    <th class="text-center">Review</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for( let i = 0; i < orderDetails.products.length; i++ ) { %>
                                                <tr>
                                                    <td class="ps-4"><a href="#"><strong><%= orderDetails.products[i].product._id %></strong></a></td>
                                                    <td><a href="#"><%= orderDetails.products[i].product.productName %></a></td>
                                                    <td class="text-center"><%= orderDetails.products[i].quantity %></td>
                                                    <td class="text-center"><%= orderDetails.products[i].product.discountPrice %></td>
                                                    <td class="text-center"><%=orderDetails.products[i].totalPrice %></td>
                                                    <% if ( orderDetails.orderStatus == 'Delivered') { %>
                                                        <td>
                                                       
                                                          <button class="butn-style1 fill small" data-bs-toggle="modal" onclick="addReview('<%=orderDetails.products[i].product._id%>')"  data-bs-target="#exampleModalreview">Add Review</button>
                                                        </td>
                                                         
                                                        <% } %>
                                                </tr>
                                                <%} %>
                                                
                                            </tbody>
                                        </table>
                                    </div>






                                    <div class="container text-center mt-5">
            
                                        <% if(orderDetails.orderStatus != 'Cancelled' && orderDetails.orderStatus != 'Delivered'&& orderDetails.orderStatus != 'Returnd'){ %>
                                            <button onclick="cancelOrder('<%=orderDetails._id%>')" class="butn-style2 dark">
                                              Cancel Order
                                            </button>
                                          <% } %>
                                      <% if ( orderDetails.orderStatus == 'Delivered') { %>
                                     <button type="button" class="butn-style2 dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Return Order
                                      </button>
                              
                                   <% } else if (orderDetails.orderStatus == 'Returnd' && orderDetails.returnApprove==true && orderDetails.paymentStatus != 'Refunded') { %>
                             
                                   <button onclick="requestRefund('<%=orderDetails._id%>')" class="butn-style2 dark">
                                    Request Refund
                                   </button>
                            
                                   <% } %>  
                             
                                   <button type="button" class="butn-style3 sm"><a  href="/">Go back to Shopping </a></button>
                                  
                            
                                  <!-- Button trigger modal -->




                                  <!-- <button type="button" class="butn-style1 fill large" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Launch demo modal
                                  </button> -->
      <!-- default Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Return Order #<%= orderDetails._id %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <p>Why are you returning this order ?</p>
                  <div class="modal-body">
                    <select  data-oid="<%= orderDetails._id %>"   name="track" id="track">     
                        <option value="Delivery is later than expected">Delivery is later than expected</option>
                    
                        <option value="Purchased by mistake ">Purchased by mistake </option>
                        <option value="Item no longer needed" >Item no longer needed </option>
                      <option value="Other reasons"  >Other reasons</option>
                    
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  onclick="orderStatus(this)">Request Return Order</button>
                  </div>
              </div>
          </div>
      </div>
                          



                            
                            <!-- review modal start -->
                            
                            <div class="modal fade" id="exampleModalreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-right-side" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add your review</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body mx-2" style="width:350px;">
                                    <form action="#" onsubmit="reviewww()">
                            
                                      <label for="" class="text-primary mb-0 fw-bold">Rate the product</label>
                                      <div class="star-rating ml-5 mt-0 mb-0 d-flex justify-content-between" onclick="removewarning()" style="width:200px;">
                                        <input type="radio" id="5-stars" name="rating" value="1" />
                                        <label for="5-stars" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars" name="rating" value="2" />
                                        <label for="4-stars" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars" name="rating" value="3" />
                                        <label for="3-stars" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars" name="rating" value="4" />
                                        <label for="2-stars" class="star">&#9733;</label>
                                        <input type="radio" id="1-star" name="rating" value="5" />
                                        <label for="1-star" class="star">&#9733;</label>
                                      </div>
                                      <p class="text-danger mb-2 mt-0" id="removewarning" style="display: none;">Please add your rating</p>
                                      <label class=""> Title (optional) </label><br>
                                      <input type="text" name="title" class="form-control">
                                      <label class="" for="reviewId">Write your review</label><br>
                                      <textarea name="review" class="form-control" id="reviewId" cols="30" rows="4" required></textarea>
                            
                                  </div>
                                  <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-primary">Add</button>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            
                            
                            
                            <!-- review modal end  -->
                              
                              <!-- return Modal -->
                              <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Return Order #<%= orderDetails._id %></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <p>Why are you returning this order ?</p>
                                    <div class="modal-body">
                                        <select  data-oid="<%= orderDetails._id %>"   name="track" id="track">     
                                            <option value="Delivery is later than expected">Delivery is later than expected</option>
                                        
                                            <option value="Purchased by mistake ">Purchased by mistake </option>
                                            <option value="Item no longer needed" >Item no longer needed </option>
                                          <option value="Other reasons"  >Other reasons</option>
                                        
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary"  onclick="orderStatus(this)">Return</button>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                                  
                              <!-- return modal -->
                                  
                                        
                                    </div>










                                    
                                    <div class="row justify-content-end flex-column flex-lg-row mt-5">
                                        <div class="col-auto me-5">
                                            <h6 class="fw-bold mb-2 text-center">Items </h6>
                                            <span class="d-flex align-items-center">
                                                
                                                <i class="fas fa-chevron-right f-s-11 text-center px-3"></i>
                                                <b><%=orderDetails.products.length  %> items</b>
                                            </span>
                                        </div>
                                        <div class="col-auto me-5">
                                            <h6 class="fw-bold mb-2 text-center">Discount</h6>
                                            <span class="d-flex align-items-center">
                                                
                                                <i class="fas fa-chevron-right f-s-11 text-center px-3"></i>
                                                <b><%=orderDetails.couponDiscount  %></b>
                                            </span>
                                        </div>
                                        <div class="col-auto me-5">
                                            <h6 class="fw-bold mb-2">Shipping</h6>
                                            <span class="d-flex align-items-center">
                                                
                                                <i class="fas fa-chevron-right f-s-11 text-primary px-3"></i>
                                                <b>Free</b>
                                            </span>
                                        </div>
                                        <div class="col-auto">
                                            <h6 class="fw-bold mb-2">Order Total</h6>
                                            <span class="d-flex align-items-center justify-content-lg-end">
                                                <strong><%= orderDetails.total %></strong>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <!-- row -->
                    <!-- <div class="row g-xl-3">
                        <div class="col-xl-4 grid-margin">
                            <div class="card card-white h-100">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Shipping Information</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <th colspan="2">
                                                    <p class="m-0">Arnold Jackson</p>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">Address:</th>
                                                <td>3389 Eglinton Avenue, Windermere, London, SK 8GH.</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Phone :</th>
                                                <td>(123) 456-7890</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Mobile :</th>
                                                <td>(+01) 12345 67890</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 grid-margin">
                            <div class="card card-white h-100">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Billing Information</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-borderless table-sm mb-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Payment Type:</th>
                                                <td>Credit Card</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Provider :</th>
                                                <td>Visa ending in 2851</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Valid Date :</th>
                                                <td>02/2021</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CVV :</th>
                                                <td>xxx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 grid-margin">
                            <div class="card card-white h-100">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Delivery Info</h4>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <div class="my-2">
                                            <i class="fas fa-truck-moving h1 text-muted"></i>
                                        </div>
                                        <h5><b>UPS Delivery</b></h5>
                                        <div class="mt-2 pt-1">
                                            <p class="mb-1"><span>Order ID :</span> xxxx048</p>
                                            <p class="mb-0"><span>Payment Mode :</span> COD</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- end row -->
                    <div>
                        <p><strong>Return policy:</strong><i>At nnoolmart we try to deliver perfectly each and every time.
                            But in the off-chance that you need to return the item,please do so with the <strong> original Brand box/price 
                                tag, original packing and invoice</strong> without which it will be really difficult for us to act on your request. Please help us in helping you. Terms and conditions apply.
                            The goods sold as are intended for end user consumption and not for re-sale. <br>
                            Regd. office: nnoolmart Retail Private Limited , Main Bhisham Pitamaha Marg, Defence Colony, New Delh, New Delh - 110024
                        </i></p>
                    </div>

                </div>
                <section>
                    <button  class="butn-style4 md"  id="pdfdownload" onclick="generatePDF()" style="float:right">
                        <span><i class="fas fa-download me-1"></i> Download as PDF</span>
                    </button>
                </section>

                <div class="page-footer">
                    <p>Copyright &copy; <span class="current-year"></span> nnoolmart All rights reserved.</p>
                </div>
            </div>
            <%- include("partials/user-footer.ejs") -%> 

       <!-- all js include end -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // const button = document.getElementById("pdfdownload");

        function generatePDF() {
           
            // Choose the element that your content will be rendered to.
            const element = document.getElementById("main-wrapper");
        
            // Choose the element and save the PDF for your user.
            html2pdf().from(element).save();
        }

        // button.addEventListener('click',generatePDF);
    </script>
    <script>
        function cancelOrder(orderId){
            console.log("cancel order");
            Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, Cancel Order!",
              cancelButtonText : 'No'
        }).then((result) => {
           if(result.isConfirmed) {
            console.log(orderId);
            $.ajax({
                  url:'/cancelorder/?orderid='+orderId,
                  method:'get',
            })
             Swal.fire("Cancelled!", "Your orderd has been Cancelled.", "success").then(()=>{
                //   window.location = "/myOrder"
                  window.location.reload();
                })
           }
        })
        }
         </script> 
         <script>
            function orderStatus(e){
              console.log("order status ethi");
              const orderid = $('#track').data('oid')
              const returnreason = $('#track').find(":selected").val();
            
            $.ajax({
              url:"/returnorder",
              data:{
                orderid,
                returnreason
              },
              method:"post",
              success:(response)=>{
               if(response.status){
                Swal.fire({
              position: '',
              icon: 'success',
              title: 'Track status has been changed',
              showConfirmButton: false,
              timer: 1000
              
            }).then(()=>{
              window.location.reload();
            })
                
               }
              }
            })
                
            }
             </script>
             <script>

                function requestRefund(orderId){
                        console.log("post vanuu-------------");
                            axios.post(`/refund?orderid=${orderId}`)
                            .then((e =>{
                               if(e.data.status){
                               
                                Swal.fire({
                  position: 'center',
                  icon: 'success',
                  title: 'your money has been returned,please check your wallet',
                  showConfirmButton: false,
                  timer: 2000
                }).then(()=>{
                
                  location.reload()   
                })       
                               }
                              
                              
                            }))
                        }
                </script>

<script>

      
    let iddd;
    addReview = (id) => {
      iddd = id
      console.log(iddd);
    }
  
    reviewww = async () => {
        console.log("adding review")
      event.preventDefault()
      const formData = new FormData(event.target);
      const formProps = await Object.fromEntries(formData);
      formProps.product = iddd
      if (formProps.rating) {
        axios.post('/review', formProps).then(async e => {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })
          if (e.data.response === "login") location.href = "/login"
          else if (e.data.error) {
            await Toast.fire({
              icon: 'error',
              title: e.data.error
            })
          } else {
            await Toast.fire({
              icon: 'success',
              title: 'Your review added successfully'
            })
            location.reload()
          }
        })
      } else {
        document.getElementById('removewarning').style.display = "block"
      }
    }
    removewarning = () => {
      document.getElementById('removewarning').style.display = "none"
    }
      </script>
    <!-- <script src="admin/plugins/bootstrap/js/bootstrap.min.js"></script> -->
